* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
}

.parent-gen-pwd {
  width: 400px;
  padding: 20px;
  background-color: beige;
  border-radius: 5px;
  box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.5);
}

.output {
  width: 100%;
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  word-break: break-all;
  color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.wrapper-input div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: 2px;
  border-radius: 2px;
  background-color: rgb(154, 23, 23) ;
}
.wrapper-input label {
  cursor: pointer;
  border: 2px;
}

.wrapper-input button {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}